# directories
broadcast
cache
coverage
lib
node_modules
out
.husky

# files
*.env
*.log
.DS_Store
lcov.info
package-lock.json
*.txt
*.toml
LICENSE
.solhintrc
.solhintignore
.prettierrc
.prettierignore
*.svg
.gitmodules
.gitignore
*.sh